<launch>
  <arg name="image" default="/flicker/image"/>
  <arg name="denoised_image" default="/denoised_image"/>
  <arg name="filter" default="bilateral"/>
  <node pkg="image_denoising" type="denoiser_node" name="denoiser" clear_params="true"
	output="screen">
    <!-- what kind of denoising filter to use -->
    <param name="filter" value="$(arg filter)"/>
    <!-- remap input and output images -->
    <remap from="~image" to="$(arg image)"/>
    <remap from="~denoised_image" to="$(arg denoised_image)"/>
  </node>
</launch>
